<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" type="text/css" th:href="@{/css/layout.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/stylesheet.css}" />
<title>社員管理システム</title>
</head>
<body>

<header class="custom-header">
			<div class="header-left">
				<a th:href="@{/list}" class="logo-text">社員管理システム</a>
			</div>

			<div class="header-right" th:if="${session.user != null}">
				ようこそ、<span th:text="${session.user.empName}">社員名</span>さん
				<span class="separator">|</span>
				<a th:href="@{/logout}" class="logout-link">ログアウト</a>
			</div>
		</header>

	<div class="content">
	<aside class="search">
	<div class="title">社員名検索</div>
	<div class="form">
	<form th:action="@{/list/empName}" method="get">
	<input type="text" name="empName" />
	<input type="submit" value="検索" />
</form>
</div>
</aside>

<div class="content">
	<article>
		<h3>社員一覧画面</h3>
	<!--権限２、リストない場合-->
	<div class="regist_link" th:if="${authority == 2 and !#lists.isEmpty(employeeList)}">
	<a th:href="@{/regist/input}">新規社員登録</a>
</div>

<div th:if="${#lists.isEmpty(employeeList)}" style="margin-top: 20px;">
	<p>該当する社員は存在しません。</p>
</div>


<table class="list_table" th:unless="${#lists.isEmpty(employeeList)}">
<tr>
	<th>社員ID</th>
	<th>社員名</th>
		<th class="gender">性別</th>
		<th class="address">住所</th>
		<th class="birthday">生年月日</th>
		<th class="authority">権限</th>
		<th class="deptName">部署名</th>
</tr>
	<tr th:each="employee : ${employeeList}">
<td th:text="${employee.empId}"></td>
<td th:text="${employee.empName}"></td>
<td>
<th:block th:switch="${employee.gender}">
	<span th:case="1">男性</span>
	<span th:case="2">女性</span>
</th:block>
</td>
<td th:text="${employee.address}"></td>
<td th:text="${#dates.format(employee.birthday, 'yyyy-MM-dd')}"></td>
<td>
<th:block th:switch="${employee.authority}">
	<span th:case="1">一般</span>
	<span th:case="2">管理者</span>
</th:block>
</td>
<td th:text="${employee.department?.deptName}">部署名</td>
<!--employee.departmentある場合部署名表示 -->
	<td th:if="${authority == 2}">
	<form th:action="@{'/employee/delete/' + ${employee.empId}}" method="post">
	<input type="submit" value="削除" />
</form>
</td>
</tr>
</table>
	<a th:href="@{/list}">一覧表示に戻る</a>
</article>

</div>
</div>

<footer>
		<div class="footer">
		Copyright(C) 2022 System Shared co., ltd, ALL Rights Reserved
</div>
</footer>
</body>
</html>